*{
    background-color: #edf6f9 ;
}
.anonymous-pro-bold {

    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;

}

.roboto-mono-font{
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  


.lista-ingredientes {
    color: white;
    background-color: #83C5BE;
    width: 250px;
    height: 235px;
    top: 265px;
    left: 278px;
    border-radius: 3px;
    opacity: 0px;
    padding: 10px;
    box-shadow: 0px 4px 4px 0px #00000040;
    border: 0.5px solid #006D77



}

.titulo-ingrediente {
    font-family:"Anonymous Pro", monospace;
    display: flex;
    align-items: center;
    background-color: #006D77;
    border-radius: 2px;
    padding: 5px;
    box-shadow: 0px 4px 4px 0px #00000040 inset;
}

.impressao-ingredientes {
    font-family:"Roboto Mono", monospace;
    width: 133px;
    height: 76px;
    top: 335px;
    left: 295px;
    gap: 0px;
    opacity: 0px;

}

.impressao-ingredientes-2 {
    color: #006D77;
}

li{
    background-color:#83C5BE;
}

ul{
   background-color:#83C5BE; 
}