.lista-ingredientes {
    color: white;
    background-color: #83C5BE;
    width: 250px;
    height: 185px;
    top: 265px;
    left: 278px;
    border-radius: 3px;
    padding: 10px;
    border: 1.5px solid #006D77;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.titulo-ingrediente {
    font-family: "Anonymous Pro", monospace;
    text-align: center;
    background-color: #006D77;
    border-radius: 2px;
    padding-top: 5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 5px;
    box-shadow: 0px 4px 4px 0px #00000040 inset;
}

.impressao-ingredientes {
    font-family: "Roboto Mono", monospace;
    width: 133px;
    height: 76px;
    left: 295px;
    text-shadow: 0px 4px 4px 0px #00000040 50%;

}

.container-indesejados {
    color: #EDF6F9;
    background-color: #83C5BE;
    width: 250px;
    height: 185px;
    border-radius: 3px;
    padding: 10px;
    border: 1.5px solid #006D77;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.elemento-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.elemento {
    width: 55px;
    height: 30px;
    background-color: #EDF6F9;
    border: 1.5px solid #006D77;
    border-radius: 3px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


body {
    background-color: #EDF6F9;
}

.nightmode-toggle-display {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    padding: 3px;
    width: 73px;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: #006D77B2;
    opacity: 70%;
    box-shadow: 0px 4px 4px 0px #00000040 inset;
}

#nightmode-toggle-checkbox {
    display: none;
}

label[for="nightmode-toggle-checkbox"] {
    cursor: pointer;
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: #EDF6F9;
    box-shadow: 0px 4px 4px 0px #00000040;
    left: 0px;
    transition: left 0.3s ease-in-out;
}

#svg-sun-icon {
    position: absolute;
    pointer-events: none;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
}

#svg-sun-icon path {
    fill: #006D77B2;
}

#svg-moon-icon {
    position: absolute;
    pointer-events: none;
    top: 3px;
    right: 3px;
    width: 18px;
    height: 18px;
}

#svg-moon-icon path {
    fill: #EDF6F9;
}

#nightmode-toggle-checkbox:checked~.nightmode-toggle-display {
    background-color: #48738FB2;
}

#nightmode-toggle-checkbox:checked+.nightmode-toggle-display label {
    left: 75%;
}

#nightmode-toggle-checkbox:checked~.nightmode-toggle-display #svg-sun-icon path {
    fill: #EDF6F9;
}

#nightmode-toggle-checkbox:checked~.nightmode-toggle-display #svg-moon-icon path {
    fill: #00284D;
}

.card-ingrediente-informacoes {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 0 auto;
    height: 60vh auto;
    width: 40vw;
    background-color: #83C5BE;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 40px;
    border-radius: 3px;
    border: 0.5px solid #006D77;
    box-shadow: 0 4px 4px 0 #00000040;
    transform-box: 50%, 50%;
    position: absolute;
    top: 25%;
    left: 30%;
}

.container-paginacao {
    display: block;
    margin: auto;
}

.Numeracao {
    color: #006D77;
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
}

.info-ingrediente-texto {
    font-family: "B612 Mono", monospace;
    color: #EDF6F9;
    font-style: normal;
    text-shadow: 0 4px 4px #00000040;
    padding: 5px;
}

#ref {
    padding: 10px;
}

.button-arrow {
    border: none;
    height: 15px;
    width: 20px;
    background-color: #83C5BE;
}

.button-arrow img {
    height: 100%;
    width: 100%;
}