body {
    background-color: #EDF6F9;
    display: flex;
    justify-content: center;
    margin: 0;
}

header {
    display: flex;
    position: absolute;
    width: 100%;
    height: 7vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    width: 40vw;
}

.logo {
    position: absolute;
    height: 15vh;
    margin: 1% 0 0 1%;
}

@media screen and (max-width: 1043px) {
    body {
        background-color: #EDF6F9;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    header {
        display: flex;
        position: absolute;
        width: 100%;
        height: 15vh;
    }

    picture{
        display: flex;
        width: 100%;
        height: 35%;
        align-self: end;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        height: 60%;
    }

    main {
        position: relative;
        top: 15vh;
        width: 90vw;
    }

    .barra-pesquisa-conteiner {
        padding-bottom: 2%;
    }

}

@media screen and (max-width: 750px) {
    .logo {
        height: 40%;
    }

    main {
        position: relative;
        top: 12vh;
        width: 90vw;
    }

    .barra-pesquisa-conteiner {
        padding-bottom: 3%;
    }
}

@media screen and (max-width: 447px) {
    .classificacao-ingrediente-conteiner {
        height: auto;
    }

    .lista-ingrediente-conteiner {
        height: auto;
    }

    .lista-ingrediente {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 421px) {
    .lista-ingrediente {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 390px) {
    .lista-ingrediente {
        font-size: 0.75rem;
    }
}

.barra-pesquisa-conteiner {
    display: flex;
    height: 11%;
    width: 105%;
    margin-bottom: 2%;
    align-items: end;
}

#input-pesquisa {
    width: 100%;
    height: 35%;
    background-color: #E1F6F4;
    border-radius: 8px;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    text-overflow: ellipsis;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0.5px solid #006D77;
    padding-left: 2%;
    box-sizing: border-box;
}

#input-pesquisa::placeholder {
    /*cor da fonte dentro da barra de pesquisa*/
    color: #006D77;
}

#input-pesquisa:focus::placeholder {
    color: transparent;
    /* torna o texto do placeholder transparente quando o input está em foco*/
}

#input-pesquisa:focus {
    outline: none;
    /* Remove a borda de seleção quando o input está em foco */
}

#button-pesquisa {
    background-color: #E1F6F4;
    width: auto;
    height: 35%;
    margin-left: 2.3%;
    border: 0.5px solid #006D77;
    border-radius: 8px;
    transition: transform 0.2s ease;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

#button-pesquisa:hover {
    transform: scale(1.2);
    /*0.5 diminui  //  1.5 aumenta */
    cursor: pointer;
    /*cursor muda pra mãozinha*/
}

.lupa-img {
    height: 80%;
    margin: auto;
}
#lista-ingrediente-titulo {
    font-family: "Anonymous Pro", monospace;
    text-align: center;
    background-color: #006D77;
    opacity: 70%;
    border-radius: 6px;
    padding: 7px 8px;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
}

.lista-ingrediente-conteiner {
    color: white;
    background-color: #83C5BE;
    border-radius: 3px;
    padding: 10px;
    border: 1.5px solid #006D77;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    flex: 40%;
}


.lista-ingrediente {
    font-family: "Roboto Mono", monospace;
    text-shadow: 0px 4px 4px 0px #00000040 50%;
    /*list-style: none;*/
}

.ingrediente-indesejado {
    color: #006D77;
}

#classificacao-ingrediente-titulo {
    font-family: "Anonymous Pro", monospace;
    text-align: center;
    background-color: #006D77;
    opacity: 70%;
    border-radius: 6px;
    padding: 7px 8px;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
}

.classificacao-ingrediente-conteiner {
    color: #EDF6F9;
    background-color: #83C5BE;
    border-radius: 3px;
    border: 1.5px solid #006D77;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex: 40%;
    padding: 10px;
    flex-shrink: 1;
}

.elemento-ingrediente-conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5%;
    height: auto;
    box-sizing: border-box;
    row-gap: 15px;
}

.elemento-ingrediente {
    width: 22%;
    height: 45px;
    background-color: #EDF6F9;
    border: 1.5px solid #006D77;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.elemento-ingrediente-indesejado {
    width: 22%;
    height: 45px;
    background-color: #006D77;
    opacity: 70%;
    border: 1.5px solid #006D77;
    border-radius: 6px;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
}

.nightmode-toggle-display {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    padding: 3px;
    width: 73px;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: #006D77B2;
    opacity: 70%;
    box-shadow: 0px 4px 4px 0px #00000040 inset;
}

#nightmode-toggle-checkbox {
    display: none;
}

label[for="nightmode-toggle-checkbox"] {
    cursor: pointer;
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: #EDF6F9;
    box-shadow: 0px 4px 4px 0px #00000040;
    left: 0px;
    transition: left 0.3s ease-in-out;
}

#svg-sun-icon {
    position: absolute;
    pointer-events: none;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
}

#svg-sun-icon path {
    fill: #006D77B2;
}

#svg-moon-icon {
    position: absolute;
    pointer-events: none;
    top: 3px;
    right: 3px;
    width: 18px;
    height: 18px;
}

#svg-moon-icon path {
    fill: #EDF6F9;
}

#nightmode-toggle-checkbox:checked~.nightmode-toggle-display {
    background-color: #48738FB2;
}

#nightmode-toggle-checkbox:checked+.nightmode-toggle-display label {
    left: 75%;
}

#nightmode-toggle-checkbox:checked~.nightmode-toggle-display #svg-sun-icon path {
    fill: #EDF6F9;
}

#nightmode-toggle-checkbox:checked~.nightmode-toggle-display #svg-moon-icon path {
    fill: #00284D;
}

.informacoes-ingrediente-conteiner {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin: 0 auto;
    height: auto;
    width: 100%;
    background-color: #83C5BE;
    padding: 5px 40px 10px 20px;
    border-radius: 3px;
    border: 0.5px solid #006D77;
    box-shadow: 0 4px 4px 0 #00000040;
    transform-box: 50%, 50%;
}

.paginacao-conteiner {
    display: block;
    margin: auto;
}

#numeracao {
    color: #006D77;
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
}

.info-ingrediente-texto {
    font-family: "B612 Mono", monospace;
    color: #EDF6F9;
    font-style: normal;
    text-shadow: 0 4px 4px #00000040;
    padding: 5px;
}

#referencias-ingrediente {
    padding: 10px;
}

.button-arrow {
    border: none;
    height: 15px;
    width: 20px;
    background-color: #83C5BE;
    cursor: pointer;
}

.button-arrow img {
    height: 100%;
    width: 100%;
}

.card-ingrediente {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3vh;
    width: 100%;
}